/* You can add global styles to this file, and also import other style files */

@import '~compass-mixins/lib/compass/css3';
.decorative {
    padding: 25px 0;
    border-bottom: none;
    background: no-repeat;
    width: 435px;
    height: 21px;
    max-width: 100%;
    max-width: var(--ct-horizontal-rule-max-width, 100%);
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:768px) {
    .quick-btn {
        display: none !important;
    }
    .bi-person-circle {
        font-size: calc(15px + 0.5vw) !important;
    }
}