.bg-svg {
    background-image: url('https://cdn1.parksmedia.wdprapps.disney.com/media/layout/assets/themes/wdw-50th/textures/nav-textures/nav_texture_1920.png'), url('../../../assets/svg/nav.svg');
    background-repeat: repeat-y;
    // url('https://cdn1.parksmedia.wdprapps.disney.com/media/layout/assets/themes/wdw-50th/textures/nav-textures/nav_texture_1920.png'),
    // background-size: cover;
    border-top: 3px solid #e2b77a;
}

.heart-with-gradient {
    width: 50px;
    display: inline-block;
    -webkit-mask: radial-gradient(circle at 60% 65%, red 64%, transparent 65%) top left, radial-gradient(circle at 40% 65%, red 64%, transparent 65%) top right, linear-gradient(to bottom left, red 43%, transparent 43%) bottom left, linear-gradient(to bottom right, red 43%, transparent 43%) bottom right;
    -webkit-mask-size: 50% 50%;
    -webkit-mask-repeat: no-repeat;
    mask: radial-gradient(circle at 60% 65%, red 64%, transparent 65%) top left, radial-gradient(circle at 40% 65%, red 64%, transparent 65%) top right, linear-gradient(to bottom left, red 43%, transparent 43%) bottom left, linear-gradient(to bottom right, red 43%, transparent 43%) bottom right;
    mask-size: 50% 50%;
    mask-repeat: no-repeat;
    background: linear-gradient(red, blue);
}

.heart-with-gradient::before {
    content: '';
    display: block;
    padding-top: 100%;
}

footer a,
p {
    color: white !important;
    text-shadow: 0 0 3px black;
}

.is_ft {
    background: #fffbf54f;
    padding: 15px;
    border-radius: 15px;
}

.inp_scr_email {
    background: none;
    border: none;
    border-bottom: 1px solid #040b3c;
    outline: none;
    color: #040b3c;
    padding: 5px;
}

::placeholder {
    color: #040b3c;
    opacity: 0.8;
}

.from_scr {
    background: #FFFBF5;
    padding: 10px 25px;
    border-radius: 15px;
}

.from_scr h3 {
    color: #040b3c;
}

.scr_submit {
    background: #996B09;
    margin-top: 20px;
    color: white;
    opacity: 0.8;
}

.scr_submit:hover {
    opacity: 1;
}

.gach {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fbd5d5 5%, #bbdde7 95%, rgba(255, 255, 255, 0) 100%);
    clear: both;
    display: block;
    -webkit-filter: none;
    filter: none;
    height: 1px;
    margin: 20px 0;
    position: relative;
    width: 100%;
}

.list-unstyled li {
    margin-bottom: 9px;
}

.link-secondary {
    text-decoration: none;
    text-shadow: 0 0 3px black;
}

.logo {
    filter: drop-shadow(0 1px 2px #35181f);
    width: 100%;
}

@media (max-width: 991.98px) {
    .logo {
        width: calc(198px + 10vw) !important;
    }
}

@media (max-width: 768px) {
    .from_scr {
        display: none !important;
    }
}