<footer class="bg-svg text-light">
    <div class="container py-4  ">
        <div class="row justify-content-center is_ft">
            <div class="col-lg-3 col-md-4 col-6 text-center text-lg-start d-flex flex-column item">
                <div class="row">
                    <div class="col">
                        <h3 class="fs-5 text-start" style="margin-top: 8px;color: #fff;font-size: 16px;">Stay Connected</h3>
                    </div>
                </div>
                <ul class="list-unstyled text-center">
                    <li class="text-start" style="margin: 8px;">
                        <button type="button" class="btn-sitemap" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                    Site Map
                  </button>
                    </li>
                    <li class="text-start" style="margin: 8px;">
                        <a class="text-decoration-none" href="https://fb.me/KeansburgAmusementRunawayRapids/"><img src="assets/svg/facebook.svg" style="width: 36px;margin: 8px;" />Facebook</a>
                    </li>
                    <li class="text-start" style="margin: 8px;">
                        <a class="text-decoration-none" href="#"><img src="assets/svg/twitter.svg" style="width: 36px;height: 36px;margin: 8px;" />Twitter</a>
                    </li>
                    <li class="text-start" style="margin: 8px;">
                        <a class="text-decoration-none" href="https://www.instagram.com/keansburg_amusement_park/"><img src="assets/svg/instagram.svg" style="width: 36px;margin: 8px;" />Instagram</a>
                    </li>
                </ul>
            </div>
            <style>
                .btn-sitemap {
                    color: white;
                    border: 1px solid white;
                    border-radius: 25px;
                    background: none;
                    padding: 2px 10px;
                }
            </style>
            <div class="col-lg-3 col-md-4 col-6 text-center text-lg-start flex-column item justify-content-evenly">
                <div class="row">
                    <div class="col">
                        <h3 class="fs-5 text-start" style="margin-top: 8px;color: #fff;font-size: 16px;">Related Sites</h3>
                    </div>
                </div>
                <div class="d-flex align-items-center" style="height: 52px;margin: 8px;margin-bottom: 0px;"><a class="text-decoration-none" href="#">About</a></div>
                <div class="d-flex align-items-center" style="height: 52px;margin: 8px;margin-bottom: 0px;"><a class="text-decoration-none" href="#">Company</a></div>
                <div class="d-flex align-items-center" style="height: 52px;margin: 8px;margin-bottom: 0px;"><a class="text-decoration-none" href="#">Team</a></div>
                <div class="d-flex align-items-center" style="height: 52px;margin: 8px;margin-bottom: 0px;"><a class="text-decoration-none" href="#">Legacy</a></div>
            </div>
            <div class="col-lg-3 col-4 text-center text-lg-start d-flex flex-column item from_scr justify-content-evenly">
                <h3 class="fs-6 text-center">Subscribe Newsletter for our latest news!</h3>
                <form action="" method="get">
                    <div class="d-flex flex-column">
                        <input type="email" class="inp_scr_email" placeholder="Email Address">
                        <button class="btn scr_submit" type="button">Send</button>
                    </div>

                </form>
            </div>
            <div class="col-lg-3 col-12 text-center text-lg-start d-flex flex-column align-items-center order-first align-items-lg-start order-lg-last item social justify-content-evenly">
                <img class="logo" src="assets/svg/logo.svg">
                <div class="fw-bold d-flex align-items-center mb-2"></div>
                <p class="text-muted copyright">275 Beachway Avenue, Keansburg, NJ 07734</p>
            </div>
        </div>
        <span class="gach"></span>
        <div class=" text-center">
            <p class="text-muted mb-0">© 2022 Keansburg Amusement Park</p>
        </div>
    </div>
</footer>