<div id="main-wrapper">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6 d-none d-lg-inline-block">
                            <div class="account-block rounded-right">
                                <div class="overlay rounded-right"></div>
                                <div class="account-testimonial">
                                    <h4 class="text-white mb-4">This beautiful theme yours!</h4>
                                    <p class="lead text-white">&quot;Best investment i made for a long time. Can only recommend it for other users.&quot;</p>
                                    <p>- Admin User</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="mb-3">
                                    <h3 class="h4 font-weight-bold text-theme">Register</h3>
                                </div>
                                <form [action]="url" [formGroup]="FormRegister" (ngSubmit)="registerSubmit()" method="POST" FormControl>
                                    <div class="row">
                                        <div class="form-group col">
                                            <label for="Firstname">First name</label>
                                            <input id="Firstname" class="form-control" formControlName="Firstname" type="text" required/>
                                        </div>
                                        <div class="form-group col">
                                            <label for="exampleInputLastname">Last name</label>
                                            <input id="exampleInputLastname" class="form-control" formControlName="Lastname" type="text" required/>
                                        </div>
                                    </div>
                                    <div class="form-group col">
                                        <label for="email_phonNB">Email or PhoneNumner</label>
                                        <input id="email_phonNB" class="form-control" formControlName="Email" type="text" required/>
                                        <span *ngIf="ckemail" name="asd" class=""><i class="bi bi-exclamation-circle danger"></i> User already exists ...!</span>
                                    </div>
                                    <div class="form-group col">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input id="exampleInputPassword1" class="form-control" formControlName="Password" type="password" required (ngModelChange)="onchange()" />
                                        <span *ngIf="checkpw" name="asd" class=""><i [ngClass]="iconcheck"></i>  Password not match...!</span>
                                    </div>
                                    <div class="form-group col">
                                        <label for="exampleInputPassword2">Password repeat</label>
                                        <input id="exampleInputPassword2" class="form-control " formControlName="repeatpassword" type="password" required (ngModelChange)="onchange()" />
                                        <span *ngIf="checkpw" name="zxc" class=""><i  [ngClass]="iconcheck"></i>  Password not match...!</span>
                                    </div>

                                    <button class="button-30 m-2" role="button" type="submit" [disabled]="!FormRegister.valid">Create</button>
                                    <br class=" m-3">
                                    <a class="button-29 forgot-link float-right text-light" routerLink="/login">I have a Acount...!</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>