<div>
    <section>
        <div class="RandA">
            <div class="grid image-grid">
                <div class="grid-block">
                    <div class="tile">
                        <a class="tile-link" href="#">
                            <img class="tile-img tile-img1" src="assets/img/homepage/experiences/2-1.jpg" alt="Image">
                        </a>
                    </div>
                </div>

                <div class="grid-block">
                    <div class="tile">
                        <a class="tile-link" href="#">
                            <img class="tile-img tile-img2" src="assets/img/homepage/experiences/2-2.jpg" alt="Image">
                        </a>
                    </div>
                </div>

                <div class="grid-block">
                    <div class="tile">
                        <a class="tile-link" href="#">
                            <img class="tile-img tile-img3" src="assets/img/homepage/experiences/2-3.jpg" alt="Image">
                        </a>
                    </div>
                </div>

                <div class="grid-block">
                    <div class="tile">
                        <a class="tile-link" href="#">
                            <img class="tile-img tile-img4" src="assets/img/homepage/experiences/1.jpg" alt="Image">
                        </a>
                    </div>
                </div>

                <div class="grid-block">
                    <div class="tile">
                        <a class="tile-link" href="#">
                            <img class="tile-img tile-img5" src="assets/img/homepage/experiences/1-1.jpg" alt="Image">
                        </a>
                    </div>
                </div>

                <div class="grid-block">
                    <div class="tile">
                        <a class="tile-link" href="#">
                            <img class="tile-img tile-img6" src="assets/img/homepage/experiences/3-0.jpg" alt="Image">
                        </a>
                    </div>
                </div>

                <div class="grid-block">
                    <div class="tile">
                        <a class="tile-link" href="#">
                            <img class="tile-img tile-img7" src="assets/img/homepage/experiences/spp1-0.jpg" alt="Image">
                        </a>
                    </div>
                </div>

                <div class="grid-block">
                    <div class="tile">
                        <a class="tile-link" href="#">
                            <img class="tile-img tile-img8" src="assets/img/homepage/experiences/spp1-1.jpg" alt="Image">
                        </a>
                    </div>
                </div>

                <div class="grid-block">
                    <div class="tile">
                        <a class="tile-link" href="#">
                            <img class="tile-img tile-img9" src="assets/img/homepage/experiences/spp1-2.jpg" alt="Image">
                        </a>
                    </div>
                </div>

                <div class="grid-block">
                    <div class="tile">
                        <a class="tile-link" href="#">
                            <img class="tile-img tile-img10" src="assets/img/homepage/experiences/spp1-3.jpg" alt="Image">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
