    .select-ticket {
        .nav-link {
            display: block;
            padding: 8px 16px;
            font-size: 16px;
            color: #253B56;
            text-decoration: none;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
        }
        .inpamount {
            background: url(https://cdn1.parksmedia.wdprapps.disney.com/resize/mwImage/1/150/130/75/dam/wdpro-assets/tickets/ThemeParkTickets.png?1664291338509);
            background-size: contain;
            background-repeat: no-repeat;
            text-align: center;
            border: none;
            outline: none;
            padding: 15px;
        }
        .pickAMTK {
            button {
                width: 46px;
                height: 46px;
                margin-left: 5px;
                border-radius: 50%;
                border: 2px solid #d9ac4c;
                color: #253B56;
                padding: 2px;
                font-weight: 600;
            }
            button:hover {
                border: 2px solid #ce951a;
                color: #c59b58;
                transform: scale(1.1);
                transition: all 0.1s ease-in-out;
            }
            input {
                border-bottom: 1px solid #253B56;
                padding: 10px;
            }
        }
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-calendar-picker-indicator {
            display: none;
            -webkit-appearance: none;
        }
        .select-gokart {
            border: none;
            outline: none;
            background: linear-gradient(191deg, #f3d4ab, #9d7239);
            box-shadow: inset 2px -3px 9px #505050, 0px 2px 4px 0px grey;
            color: white;
            font-size: 18px;
            padding: 8px;
            border-radius: 20px;
            text-align: center;
            text-shadow: 0 0 2px black;
        }
        .add-ticket {
            border: none;
            outline: none;
            background: linear-gradient(191deg, #f3d4ab, #9d7239);
            box-shadow: inset 2px -3px 9px #505050, 0px 2px 4px 0px grey;
            color: white;
            font-size: 18px;
            padding: 8px 20px;
            border-radius: 20px;
            text-align: center;
            text-shadow: 0 0 2px black;
        }
        .select-gokart option {
            color: #253B56;
        }
        .inpdate input {
            padding: 10px;
            border: none;
            outline: none;
            border-bottom: 1px solid #253B56;
            color: #253B56;
            text-align: center;
            font-weight: 600;
        }
        .layo {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin: 25px 0;
            h4 {
                text-align: center;
            }
        }
    }
