<div>
    <section>
        <div class="text-center">
            <h1>Standard Theme Park Ticket</h1>
            <p>Visit 1 park per day or add an option to visit multiple parks per day and/or a water park or other Walt Disney World fun. View Details</p>
        </div>
        <div class="check-calendar">
            <h2> <i class="bi bi-exclamation-triangle-fill text-warning"></i> Check Park Reservation Availability Before Purchasing </h2>
            <p> Check the Keansburgs Park Pass system to see if your desired theme park reservation is available before purchasing your ticket or Annual Pass. </p>
            <button type="button"><a routerLink="/check-calendar"> View Calendar </a></button>
        </div>
    </section>

    <section>
        <div class="text-center">
            <h1>Select the Ticket Type</h1>
            <p>Choose to visit one park or multiple parks per day, or multiple parks plus more fun!</p>
        </div>
        <div class="select-ticket-type">
            <div class="row">
                <button type="reset">asd</button>

            </div>
        </div>
    </section>
</div>
