.CK-inf-user {
    color: #233C57;
    position: relative;
    justify-content: space-evenly;
    .header-cko {
        height: auto;
    }
    .userleft {}
    .userright {
        height: fit-content;
        background: #EBF6FC;
        padding: 25px 30px 30px;
        position: fixed;
        position: sticky;
        top: 0;
        right: 0;
        box-shadow: 0 0 4px #cfcfcf;
    }
    .gach {
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fbd5d5 5%, #bbdde7 95%, rgba(255, 255, 255, 0) 100%);
        clear: both;
        display: block;
        -webkit-filter: none;
        filter: none;
        height: 1px;
        margin: 20px 0;
        width: 100%;
    }
    $color1: #f4f4f4;
    $color2: #61941B;
    .radio {
        margin: 0.5rem;
        input[type="radio"] {
            position: absolute;
            opacity: 0;
            +.radio-label {
                &:before {
                    content: '';
                    background: $color1;
                    border-radius: 100%;
                    border: 1px solid darken($color1, 25%);
                    display: inline-block;
                    width: 1.4em;
                    height: 1.4em;
                    position: relative;
                    top: -0.2em;
                    margin-right: 1em;
                    vertical-align: top;
                    cursor: pointer;
                    text-align: center;
                    transition: all 250ms ease;
                }
            }
            &:checked {
                +.radio-label {
                    &:before {
                        background-color: $color2;
                        box-shadow: inset 0 0 0 4px $color1;
                    }
                }
            }
            &:focus {
                +.radio-label {
                    &:before {
                        outline: none;
                        border-color: $color2;
                    }
                }
            }
            &:disabled {
                +.radio-label {
                    &:before {
                        box-shadow: inset 0 0 0 4px $color1;
                        border-color: darken($color1, 25%);
                        background: darken($color1, 25%);
                    }
                }
            }
            +.radio-label {
                &:empty {
                    &:before {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .card-body {
        .form-floating {
            margin-bottom: 18px;
        }
    }
    .userleft {
        .info-left {
            border: 1px solid gray;
            margin-bottom: 35px;
            background: #FAFAFA;
            .text-header1 {
                background: white;
                border-bottom: 1px solid gray;
            }
            .sendticket {
                padding: 24px;
            }
        }
        .contact-inf {
            padding: 30px 20px;
            background: white;
            box-shadow: 0 0 5px #ababab;
        }
        .ft-text {
            max-width: 500px;
            margin: 0 auto;
            .btn-submit-payTK {
                width: 100%;
                margin: 0 10px;
                height: 50px;
                background-color: #0079bc;
                border: 2px solid #0079bc;
                border-radius: 30px;
                color: white;
            }
        }
    }
    .iconB {
        max-width: 46px!important;
        flex: 1 1 100%;
        box-sizing: border-box;
        margin-right: 7px;
        img {
            width: 100%;
            height: auto;
            display: inline-block;
            transition-property: opacity;
            transition-duration: .3s;
            transition-timing-function: cubic-bezier(.165, .84, .44, 1);
            font-size: 10px;
        }
    }
    .inf-user-card {
        div {
            margin-bottom: 10px;
        }
    }
    .btn-view-more-tk {
        background: none;
        border: none;
        &:hover {
            text-decoration: underline;
        }
    }
}