<div>
    <div class="container">
        <div class="header-cko">
            <h1>Checkout</h1>
            <div>
                <span><i class="bi bi-exclamation-circle"></i></span> <strong>Reminder</strong>
                <p>To enter one of the parks, in addition to valid admission, each Guest is required to make a theme park reservation via the Keansburgs system. You can do so immediately after purchasing.</p>
            </div>
        </div>
        <div class="">
            <div class="row CK-inf-user">
                <span></span>
                <div class="col-7 userleft">
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
                <div class="col-4 userright">
                    <h4><strong>Order Summary</strong></h4>
                    <a> Show Order Detail</a>
                    <div>
                        <p class="d-flex justify-content-between"><strong><i class="bi bi-ticket-perforated-fill"></i> <span>Theme Park Tickets</span></strong> <span> Qty: 4</span></p>
                        <p class="d-flex justify-content-between"><strong><i class="bi bi-ticket-perforated-fill"></i> <span>Theme Park Tickets</span></strong> <span> Qty: 2</span></p>
                    </div>
                    <span class="gach"></span>
                    <div>
                        <p><strong>Price Summary</strong></p>
                        <div class="d-flex justify-content-between"><span>Subtotal</span> <span>{{123|currency}}</span></div>
                        <div class="d-flex justify-content-between"><span>Tax</span> <span>{{10|currency}}</span></div>
                    </div>
                    <span class="gach"></span>
                    <div>
                        <p><strong class="d-flex justify-content-between"><span>Total Order Price</span> <span>{{123.5|currency}}</span></strong></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div>
                        <p>
                            <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                          Toggle
                        </button>
                        </p>
                        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                            <div class="card">
                                <div class="card-body">
                                    You can collapse this card by clicking Toggle
                                </div>
                            </div>
                        </div>
                    </div> -->
