<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">
<!-- new parallax -->
<section style="margin-bottom: 24px;">
    <div style="height: 600px;background-image: url(./assets/img/hollowgraves/hmanor1.jpeg);background-position: center;background-size: cover;">
        <div class="container h-100" style="font-family: Athiti, sans-serif;">
            <div class="row h-100">
                <div class="col col-md-12 text-center text-md-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-center align-items-md-center justify-content-xl-center">
                    <div class="text-center" style="max-width: 350px;">
                        <h1 class="neondark" style="color: var(--bs-white);font-size: 48px;"><span style="color: rgba(var(--bs-white-rgb),var(--bs-text-opacity)) ;">Hollowgraves Haunted Manor</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- new parallax -->
<div class="row mb-5">
    <div class="col-md-8 col-xl-6 text-center mx-auto" style="margin-top: 48px;">
        <h1 style="color:#996B09;">Hollowgraves Haunted Manor</h1>
        <p class="w-lg-50" style="color: #253b56;">Be prepared for shrills and thrills as you explore Keansburg’s scariest Family Attraction. Our walk-thru Haunted manor promises “scare-the-pants off you” fun. Our animated ghouls and live creatures are sure creep under your skin.<br /></p>
    </div>
</div>

<div class="gallery" style="margin-bottom: 36px;">
	<div class="gallery__column">
		<a href="#" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="./assets/img/hollowgraves/hmanor1.jpeg" alt="Haunted Manor night time" class="gallery__image">
				<figcaption class="gallery__caption">Haunted Manor night time</figcaption>
			</figure>
		</a>

		<a href="#" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="./assets/img/hollowgraves/hmanor3.jpeg" alt="scary movie appearence" class="gallery__image">
				<figcaption class="gallery__caption">scary movie appearence</figcaption>
			</figure>
		</a>

		<a href="#" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="./assets/img/hollowgraves/hmanor4.jpeg" alt="horror murder" class="gallery__image">
				<figcaption class="gallery__caption">horror murder</figcaption>
			</figure>
		</a>

        <a href="#" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="./assets/img/hollowgraves/hmanor13.jpeg" alt="a walk inside manor" class="gallery__image">
				<figcaption class="gallery__caption">a walk inside manor</figcaption>
			</figure>
		</a>
	</div>
	
	<div class="gallery__column">
		<a href="#" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="./assets/img/hollowgraves/hmanor7.jpeg" alt="upstair" class="gallery__image">
				<figcaption class="gallery__caption">upstair</figcaption>
			</figure>
		</a>
		
		<a href="#" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="./assets/img/hollowgraves/hmanor9.jpeg" alt="dead lady" class="gallery__image">
				<figcaption class="gallery__caption">dead lady</figcaption>
			</figure>
		</a>

		<a href="#" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="./assets/img/hollowgraves/hmanor8.jpeg" alt="dead lady appearence" class="gallery__image">
				<figcaption class="gallery__caption">dead lady appearence</figcaption>
			</figure>
		</a>
	</div>
	
	<div class="gallery__column">
		<a href="" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="./assets/img/hollowgraves/hmanor10.jpeg" alt="pray or fear" class="gallery__image">
				<figcaption class="gallery__caption">pray or fear</figcaption>
			</figure>
		</a>
		
		<a href="#" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="./assets/img/hollowgraves/hmanor2.jpeg" alt="they are waiting for you" class="gallery__image">
				<figcaption class="gallery__caption">"they are waiting for you"</figcaption>
			</figure>
		</a>

		<a href="#" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="./assets/img/hollowgraves/hmanor5.jpeg" alt="doen't be that scare" class="gallery__image">
				<figcaption class="gallery__caption">doen't be that scare</figcaption>
			</figure>
		</a>
	</div>
	
	<div class="gallery__column">
		<a href="#" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="./assets/img/hollowgraves/hmanor6.jpeg" alt="all those memories" class="gallery__image">
				<figcaption class="gallery__caption">all those horror memories</figcaption>
			</figure>
		</a>

		<a href="#" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="./assets/img/hollowgraves/hmanor11.jpeg" alt="the clown, but they doesn't want to have fun" class="gallery__image">
				<figcaption class="gallery__caption">the clown, but they doesn't want to have fun</figcaption>
			</figure>
		</a>
		
		<a href="#" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="./assets/img/hollowgraves/hmanor12.jpeg" alt="Spooky Scary Skeleton" class="gallery__image">
				<figcaption class="gallery__caption">Spooky Scary Skeleton</figcaption>
			</figure>
		</a>
	</div>
</div>

<style>
    .neondark {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #000000, 0 0 82px #000000, 0 0 92px #000000, 0 0 102px #000000, 0 0 151px #000000;
}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>