<div class="container">
    <div class="decorative" style="background-image: url(https://cdn1.parksmedia.wdprapps.disney.com/resize/mwImage/1/435/21/75/dam/disney-world/50th-anniversary/ui/Decorative-rule.png?1663620362566);"></div>
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h1>Restaurants &amp; Eateries</h1>
            <p class="w-lg-50">No trip to the boardwalk is complete without traditional boardwalk fare. Tempt your taste buds with everything from seafood to zeppole's.</p>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-3">
        <div class="col-2 sv-items " *ngFor="let i of items_service">
            <button type="button" class="d-flex flex-column justify-content-center align-items-center w-100 h-100">
              <img src="{{i.icon}}" width="25px" class="img-sv-food mb-1" alt="">
            <span>{{i.name}}</span>
          </button>
        </div>
    </div>

    <div class="mt-3 mb-3">
        <select class="sortFoodname" name="sortfooditems" id="">
        <option value="">Sort by Name</option>
        <option value="">Sort by Location</option>
        <option value="">Sort by Featured</option>
      </select>
    </div>
    <div>
        <a class="row food-items" *ngFor="let i of dinning; let j =index" [routerLink]="['shop',j]">
            <div class="col-3 img-food">
                <div class="ov-imgfood">
                    <img src="{{i.img}}" alt="">
                </div>
            </div>
            <div class="col">
                <h3 style="color:gray !important;">{{i.typeoffood|uppercase}}</h3>
                <h3>{{i.name}}</h3>
                <span><strong>{{i.typeofservice}}</strong></span><br>
                <span>location</span><br>
                <span>{{i.MealPricing}}</span>
            </div>
        </a>
    </div>
</div>
