<div class="pr-rapids">
    <div class="vid-h">
        <video loop autoplay name="media" controls id="my_video_1" preload="none" height="auto" width="100%">
      <source src="assets/video/keansburg2.mp4" type="video/mp4" >
    </video>
    </div>
    <div class="content-rapids">
        <div class="controls-vd" id="btn-fsc" [style.height]="widthvideo">
            <div class="btn-fsc">
                <button type="button" (click)="fullscreen()">fullscreen</button>
            </div>
        </div>
        <div class="cnt-rp">
            <div class="container">
                <div class="row justify-content-center">
                    <p class="col-2">Free Frontend CATEGORIES HTML CSS Bootstrap JavaScript jQ Jquery React Tailwind Vue --- Books Video 28 CSS Slideshows November 9, 2021 Collection of free HTML and CSS slideshow code: simple, responsive, animated, horizontal, vertical,
                        etc. Update of March 2019 collection. 4 new example. Table Of Contents Vertical Slideshows Horizontal Slideshows Related Articles CSS Sliders Vertical Slideshows Author Ryan Mulligan January 24, 2020 Links demo and code download
                        Made with HTML / CSS (SCSS) About a code DOGGIE SCREENSAVER Pretty hacky attempt at recreating the floating screensaver for the photo gallery. Compatible browsers:Chrome, Edge, Firefox, Opera, Safari Responsive:yes Dependencies:-
                        Author Ryan Mulligan December 5, 2019 Links demo and code download Made with HTML / CSS (SCSS) About a code CSS SLIDESHOW Compatible browsers:Chrome, Edge, Firefox, Opera, Safari Responsive:yes Dependencies:- Demo image: Slideshow
                        Vanilla JS Author Riley Adair January 1, 2018 Links demo and code Made with HTML CSS JavaScript/Babel About the code SLIDESHOW VANILLA JS Custom slideshow with staggered transitions. Built in vanilla JS. Demo image: Untitled Slider
                        Author Nathan Taylor December 16, 2017 Links demo and code Made with HTML CSS/SCSS About the code UNTITLED SLIDER A small experiment which quickly turned into something more. Demo image: Parallax Slideshow Author Bruno Carvalho
                        December 5, 2017 Links demo and code Made with HTML CSS/SCSS JavaScript/Babel (jQuery.js) About the code PARALLAX SLIDESHOW HTML, CSS and JS slideshow with parallax effect. Demo Image: Split Slick Slideshow Demo Image: Split Slick
                        Slideshow Split Slick Slideshow Vertical slideshow in split screen. Made by Fabio Ottaviani March 29, 2017 download demo and code Demo Image: Slideshow Presentation Demo Image: Slideshow Presentation Slideshow Presentation Navigate
                        using the up and down arrow keys. Made by Keith Driessen March 9, 2016 download demo and code Demo Image: Dual Slideshow Demo Image: Dual Slideshow Dual Slideshow Just playing around with a dual pane slideshow concept. Made by
                        Jacob Davidson April 17, 2015 download demo and code Demo Image: A Pure CSS3 Slideshow Demo Image: A Pure CSS3 Slideshow A Pure CSS3 Slideshow The transition treats each part of the photo as a blind, closes them all together, and
                        when they are open again, a new photo is revealed underneath. Made by Stathis October 3, 2013 download demo and code Horizontal Slideshows Author Johan Lagerqvist December 24, 2018 Links demo and code Made with HTML / CSS (SCSS)
                        About the code CSS-ONLY SLIDESHOW An idea for a page header slideshow. Compatible browsers:Chrome, Edge, Firefox, Opera, Safari Responsive:yes Dependencies:-

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .pr-rapids {
        position: relative;
    }

    .vid-h {
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
    }

    .controls-vd {
        height: 70vh;
        position: relative;
        transition: all 1.8s;
    }

    .btn-fsc {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .cnt-rp {
        border-top: 4px solid rgb(224, 176, 43);
        background: #FFF9F4;
    }
</style>
