<section>
    <div style="height: 600px;background-image: url(./assets/img/beach/parallax.webp);background-position: center;background-size: cover;margin-bottom: 24px;">
        <div class="container h-100" style="">
            <div class="row h-100">
                <div class="col col-md-12 text-center text-md-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-center align-items-md-center justify-content-xl-center">
                    <div class="text-center" style="max-width: 350px;">
                        <!-- <h1 class="h1neon" style="color: var(--bs-white);font-size: 36px;"><span style="color: rgba(var(--bs-white-rgb),var(--bs-text-opacity)) ;">Beach</span></h1> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container" style="margin-bottom: 24px;">
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h1 style="margin-bottom: 0px;">Nothing better than lying down on the beach and enjoy the sunshine of<br /></h1>
            <h1 class="neonyellow" style="font-weight: bold;">Keansburg beach.<br /></h1>
        </div>
    </div>
</div>
<div class="grid-container">
  <div>
    <img class='grid-item grid-item-1' src='./assets/img/beach/beach1.jpeg' alt=''>
    <p>Keansburg view</p>
  </div>
  <div>
    <img class='grid-item grid-item-2' src='./assets/img/beach/beach2.jpeg' alt=''>
    <p>To the beach</p>
  </div>
  <div>
    <img class='grid-item grid-item-3' src='./assets/img/beach/beach3.jpeg' alt=''>
    <p>Top view</p>
  </div>
  <div>
    <img class='grid-item grid-item-4' src='./assets/img/beach/beach4.jpeg' alt=''>
    <p>Sunset in Keansburg</p>
  </div>
  <div>
    <img class='grid-item grid-item-5' src='./assets/img/beach/beach5.jpeg' alt=''>
    <p>Sunrise in the morning"</p>
  </div>
  <div>
    <img class='grid-item grid-item-6' src='./assets/img/beach/beach6.webp' alt=''>
    <p>Early day</p>
  </div>
  <div>
    <img class='grid-item grid-item-7' src='./assets/img/beach/beach7.jpeg' alt=''>
    <p>Afternoon</p>
  </div>
  <div>
    <img class='grid-item grid-item-8' src='./assets/img/beach/beach8.webp' alt=''>
    <p>Beautiful Keansburg beach</p>
  </div>
  <div>
    <img class='grid-item grid-item-9' src='./assets/img/beach/beach9.jpeg' alt=''>
    <p>A windy day</p>
  </div>
  <div>
    <img class='grid-item grid-item-10' src='./assets/img/beach/beach10.jpeg' alt=''>
    <p>Nature are beautiful!</p>
  </div>
</div>