
        <div class="container" style="font-family: Athiti, sans-serif;color: #996B09;">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h1><span style="color: rgba(var(--bs-white-rgb),var(--bs-text-opacity)) ;">Ticket Information</span></h1>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-3">
                <div class="col">
                    <div class="d-flex">
                        <div class="mx-auto px-3">
                            <h1><span style="color: rgba(var(--bs-white-rgb),var(--bs-text-opacity)) ;">Rides</span></h1>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col text-center">
                                <div>
                                    <div class="row">
                                        <div class="col-8 col">
                                            <p class="text-start" style="color: #253b56;">Individual<br /></p>
                                        </div>
                                        <div class="col-4 col" style="color: #253b56;">
                                            <p class="text-end" data-bs-toggle="tooltip" data-bs-placement="right" title="NJ sales tax is not applied for individual accessibility." style="color: #253b56;">$1.25*<br /></p>
                                        </div>
                                    </div>
                                    <div class="row" style="color: #253b56;">
                                        <div class="col-8 col" style="color: #253b56;">
                                            <p class="text-start" style="color: #253b56;">Sheet of 50 Tickets<br /></p>
                                        </div>
                                        <div class="col-4 col" style="color: #253b56;">
                                            <p class="text-end" data-bs-toggle="tooltip" data-bs-placement="right" title="($42.20 + NJ sales tax)" style="color: #253b56;">$45*<br /></p>
                                        </div>
                                    </div>
                                    <div class="row" style="color: #253b56;">
                                        <div class="col-8 col" style="color: #253b56;">
                                            <p class="text-start" style="color: #253b56;">Book of 100 Tickets<br /></p>
                                        </div>
                                        <div class="col-4 col" style="color: #253b56;">
                                            <p class="text-end" data-bs-toggle="tooltip" data-bs-placement="right" title="($74.09 + NJ sales tax)" style="color: #253b56;">$79*<br /></p>
                                        </div>
                                    </div>
                                    <div class="row" style="color: #253b56;">
                                        <div class="col-8 col" style="color: #253b56;">
                                            <p class="text-start" style="color: #253b56;">Book of 200 Tickets<br /></p>
                                        </div>
                                        <div class="col-4 col" style="color: #253b56;">
                                            <p class="text-end" data-bs-toggle="tooltip" data-bs-placement="right" title="($139.74+ NJ sales tax)" style="color: #253b56;">$149*<br /></p>
                                        </div>
                                    </div>
                                </div><button class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" type="button" title="Click here to place your order.">Place your Order</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex">
                        <div class="mx-auto px-3">
                            <h1>Go Karts<br /></h1>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col text-center">
                                <div>
                                    <div class="row">
                                        <div class="col-8 col">
                                            <p class="text-start" style="color: #253b56;">Adult Track<br /></p>
                                        </div>
                                        <div class="col-4 col" style="color: #253b56;">
                                            <p class="text-end" style="color: #253b56;">$7.95<br /></p>
                                        </div>
                                    </div>
                                    <div class="row" style="color: #253b56;">
                                        <div class="col-8 col" style="color: #253b56;">
                                            <p class="text-start" style="color: #253b56;">Double Seater<br /></p>
                                        </div>
                                        <div class="col-4 col" style="color: #253b56;">
                                            <p class="text-end" title="($42.20 + NJ sales tax)" style="color: #253b56;">$9.95<br /></p>
                                        </div>
                                    </div>
                                    <div class="row" style="color: #253b56;">
                                        <div class="col-8 col" style="color: #253b56;">
                                            <p class="text-start" style="color: #253b56;">Kiddie Track<br /></p>
                                        </div>
                                        <div class="col-4 col" style="color: #253b56;">
                                            <p class="text-end" title="($74.09 + NJ sales tax)" style="color: #253b56;">$4.95<br /></p>
                                        </div>
                                    </div>
                                    <div class="row" style="color: #253b56;">
                                        <div class="col-8 col" style="color: #253b56;">
                                            <p class="text-start" style="color: #253b56;">Book of 4 Adult Rides<br /></p>
                                        </div>
                                        <div class="col-4 col" style="color: #253b56;">
                                            <p class="text-end" title="($139.74+ NJ sales tax)" style="color: #253b56;">$29.95<br /></p>
                                        </div>
                                    </div>
                                    <div class="row" style="color: #253b56;">
                                        <div class="col-8 col" style="color: #253b56;">
                                            <p class="text-start" style="color: #253b56;">Book of 8 Adult Rides<br /></p>
                                        </div>
                                        <div class="col-4 col" style="color: #253b56;">
                                            <p class="text-end" title="($139.74+ NJ sales tax)" style="color: #253b56;">$49.95<br /></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p style="font-size: 12px;">Go Kart tickets must be purchased separately at the Go Kart Ticket Booth. Go Karts are not included in any wristband special. Closed toe shoes must be worn when operating a go kart.</p>
                </div>
                <div class="col-sm-12">
                    <div class="d-flex">
                        <div class="mx-auto px-3">
                            <h1>Waterpark<br /></h1>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col text-center">
                                <div>
                                    <div class="row">
                                        <div class="col-8 col">
                                            <p class="text-start" style="color: #253b56;">3 Hour Ticket<br /></p>
                                        </div>
                                        <div class="col-4 col" style="color: #253b56;">
                                            <p class="text-end" style="color: #253b56;">Cash: $37<br />Credit: $38<br /></p>
                                        </div>
                                    </div>
                                    <div class="row" style="color: #253b56;">
                                        <div class="col-8 col" style="color: #253b56;">
                                            <p class="text-start" data-bs-toggle="tooltip" title="Closing time for Splash Nights can vary" style="color: #253b56;">Splash Night Mon- Fri (4pm- close**)<br /></p>
                                        </div>
                                        <div class="col-4 col" style="color: #253b56;">
                                            <p class="text-end" title="($42.20 + NJ sales tax)" style="color: #253b56;">Cash: $17<br />Credit: $18<br /></p>
                                        </div>
                                    </div>
                                    <div class="row" style="color: #253b56;">
                                        <div class="col-8 col" style="color: #253b56;">
                                            <p class="text-start" style="color: #253b56;">Splash Night Saturday, Sunday &amp; Holidays (4pm- close*)<br /></p>
                                        </div>
                                        <div class="col-4 col" style="color: #253b56;">
                                            <p class="text-end" title="($74.09 + NJ sales tax)" style="color: #253b56;">Cash: $24<br />Credit: $25</p>
                                        </div>
                                    </div>
                                    <div class="row" style="color: #253b56;">
                                        <div class="col-8 col" style="color: #253b56;">
                                            <p class="text-start" data-bs-toggle="tooltip" title="ONLY available with Waterpark purchase" style="color: #253b56;">Ride Upgrade Wristband (Unlimited Amusement Park Rides)*<br /></p>
                                        </div>
                                        <div class="col-4 col" style="color: #253b56;">
                                            <p class="text-end" title="($139.74+ NJ sales tax)" style="color: #253b56;">Cash: $31<br />Credit: $32<br /></p>
                                        </div>
                                    </div>
                                    <div class="row" style="color: #253b56;">
                                        <div class="col-8 col" style="color: #253b56;">
                                            <p class="text-start" style="color: #253b56;">Toddler Rate (Up to 42&quot; tall)<br /></p>
                                        </div>
                                        <div class="col-4 col" style="color: #253b56;">
                                            <p class="text-end" style="color: #253b56;">Cash: $19<br />Credit: $20<br /></p>
                                        </div>
                                    </div>
                                    <div class="row" style="color: #253b56;">
                                        <div class="col-8 col" style="color: #253b56;">
                                            <p class="text-start" style="color: #253b56;">Dry Spectators<br /></p>
                                        </div>
                                        <div class="col-4 col" style="color: #253b56;">
                                            <p class="text-end" style="color: #253b56;">Cash: $37<br />Credit $16</p>
                                        </div>
                                    </div>
                                    <div class="row" style="color: #253b56;">
                                        <div class="col-8 col" style="color: #253b56;">
                                            <p class="text-start" style="color: #253b56;">Lockers<br /></p>
                                        </div>
                                        <div class="col-4 col" style="color: #253b56;">
                                            <p class="text-end" data-bs-toggle="tooltip" data-bs-placement="bottom" title="($10 refund upon key return)" style="color: #253b56;">$20*</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h2 class="text-white" style="color: var(--bs-blue);">Combo Packages<br /></h2>
                <p style="color: #996B09;">The Combination Pass is the perfect way to spend your day at Keansburg Amusement Park and Runaway Rapids. Enjoy 3 hours at Runaway Rapids plus unlimited rides! To enjoy your Combination Pass, please enter the waterpark before enjoying the amusement park.</p>
                <p style="color: #996B09;">3 Hours at Runaway Rapids plus Unlimited Rides at Keansburg Amusement Park for: Cash: $68 and Credit: $70</p><a class="d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center justify-content-xxl-center" href="#" style="color: white;"> Click here for Discounts &amp; Specials</a>
                <p style="text-align: center;color: #253b56;font-size: 12px;">Price includes NJ Sales Tax on any Amusement Park ticket purchase including Combo Packages.<br />Closing time varies for Runaway Rapids water park and is dependent upon park occupancy and/or buy-out events.<br />Please call 732-495-5241 for details on Runaway Rapids closing times from Memorial Day to Labor Day.<br />Otherwise call 732-495-1400 for additional information.</p>
            </div>
        </div>