<div>
    <div class="pr-rapids">
        <div class="vid-h">
            <section>
                <div class="inf-top" style="width: initial;">
                    <div class="inf-head">
                        <div class="gallery">
                            <span style="--i: 1"><img src="https://images.unsplash.com/photo-1620655796542-4ac76a76743c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="" /></span>
                            <span style="--i: 2"><img src="https://images.unsplash.com/photo-1620421680906-275860f61e27?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyNHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" alt="" /></span>
                            <span style="--i: 3"><img src="https://images.unsplash.com/photo-1620611824637-d33a5c34dec8?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzNHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" alt="" /></span>
                            <span style="--i: 4"><img src="https://images.unsplash.com/photo-1589111502533-e78e1fae673e?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0OXx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" alt="" /></span>
                            <span style="--i: 5"><img src="https://images.unsplash.com/photo-1611095567319-2f4c389168a9?ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHw1M3x8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" alt="" /></span>
                            <span style="--i: 6"><img src="https://images.unsplash.com/photo-1620422554271-3e1747251272?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1Nnx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" alt="" /></span>
                            <span style="--i: 7"><img src="https://images.unsplash.com/photo-1620641788421-7a1c342ea42e?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1OHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" alt="" /></span>
                            <span style="--i: 8"><img src="https://images.unsplash.com/photo-1620536382869-c634e4d8475f?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3OHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" alt="" /></span>
                        </div>
                        <img src="https://cdn1.parksmedia.wdprapps.disney.com/media/home/50th_anniversary_countdown_clock/WDW_50th_transitionSparkles_Desktop_v9.gif" class="gif">
                    </div>
                </div>
            </section>
        </div>
        <div class="content-rapids">
            <div class="controls-vd" id="btn-fsc" [style.height]="widthvideo">
                <div class="btn-fsc d-flex flex-column ">
                    <h1 class="text-light mb-4"><strong>Celebrate Across All 4 Theme Parks and Beyond</strong></h1>
                    <div>
                        <button type="button" (click)="fullscreen()" class="f-screen "><i class="bi bi-arrows-fullscreen"></i></button>
                    </div>
                </div>
            </div>
            <!-- main content -->
            <div class="cnt-rp">

                <!-- 1 -->
                <section style="overflow: hi;">
                    <div class="cnt1-0">
                        <div class="container ttt-h">
                            <div class="row">
                                <div class="col-6">
                                    <h1> Happily Whatever You're After </h1>
                                    <span>Come to the place that has whatever you're after and more!</span>
                                </div>
                                <div class="col-6 row">
                                    <div class="col-6 text-center text-danger">
                                        <h1>103</h1>
                                        <h5><strong>SHOP</strong></h5>
                                        <p>Stores, Pavilions, Pop-Ups and More</p>
                                    </div>
                                    <div class="col-6 text-center text-info">
                                        <h1>103</h1>
                                        <h4><strong>SHOP</strong></h4>
                                        <h6>Stores, Pavilions, Pop-Ups and More</h6>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="main-rlt">
                            <div class="bg-absl"></div>
                            <div class="m-cnt-1">
                                <div class="img-style">
                                    <div>
                                        <h1>PLAY</h1><br>
                                        <span>Get the scoop on attractions, family-friendly activities, live entertainment and unforgettable late-night fun for adults.</span>
                                        <a routerLink="/" style="color:rgb(54, 190, 127) ;">View All Experiences</a>
                                    </div>
                                    <div class="box">
                                        <div class="imgBx">
                                            <img src="assets/img/homepage/experiences/if10.jpg">
                                        </div>
                                        <div class="content">
                                            <div>
                                                <h2>Image Title</h2>
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi accusamus molestias quidem iusto.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box">
                                        <div class="imgBx">
                                            <img src="assets/img/homepage/experiences/if11.jpg">
                                        </div>
                                        <div class="content">
                                            <div>
                                                <h2>Image Title</h2>
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi accusamus molestias quidem iusto.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box">
                                        <div class="imgBx">
                                            <img src="assets/img/homepage/experiences/if12.jpg">
                                        </div>
                                        <div class="content">
                                            <div>
                                                <h2>Image Title</h2>
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi accusamus molestias quidem iusto.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box">
                                        <div class="imgBx">
                                            <img src="assets/img/homepage/experiences/3-0.jpg">
                                        </div>
                                        <div class="content">
                                            <div>
                                                <h2>Image Title</h2>
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi accusamus molestias quidem iusto.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--  -->
                <section>
                    <div class="cnt1-0 mt-5">
                        <h1 class=" text-center" style="margin-bottom: 5rem !important;margin-top: 5rem !important;"> News </h1>
                        <div class="main-rlt">
                            <div class="bg-absl2">
                                <div class="container ins-mn">
                                    <div class="row justify-content-center ">
                                        <div class="col-3">
                                            <span class="mb-3">Everything</span>
                                            <h5><strong> AT YOUR SERVICE </strong></h5>
                                        </div>
                                        <div class="col-3">
                                            <p><a class="lk-tt" routerLink="/"> History </a></p>
                                            <p><a class="lk-tt" routerLink="/"> News </a></p>
                                        </div>
                                        <div class="col-3">
                                            <p><a class="lk-tt" routerLink="/"> Park Map </a></p>
                                            <p><a class="lk-tt" routerLink="/"> Events </a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-cnt-1">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-5 d-flex flex-column">
                                            <div class="p-4">
                                                <div class="ov-imgfood">
                                                    <span class="tt-img">Birth Day</span>
                                                    <img class="pict1" src="assets/img/ALL/pt-01.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="p-4">
                                                <div class="ov-imgfood">
                                                    <span class="tt-img">Party</span>
                                                    <img class="pict1" src="assets/img/ALL/pt-02.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <h3 class=""><strong> NEWS & TRENDS </strong></h3><br>
                                            <div class="item-1 p-4">
                                                <div class="row">
                                                    <div class="col-4 p-0">
                                                        <div class="ov-imgfood">
                                                            <span class="tt-img">Fishing</span>
                                                            <img class="pict2" src="assets/img/ALL/fishing01.jpeg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col-8 p-4">
                                                        <span>Keansburg Fishing Pier Open Daily!
                                                          Enjoy the Day Fishing on Our 2000 foot Pier Overlooking the Raritan Bay</span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="item-1 p-4">
                                                <div class="row">
                                                    <div class="col-4 p-0">
                                                        <div class="ov-imgfood">
                                                            <span class="tt-img">Haunted Manor</span>
                                                            <img class="pict2" src="assets/img/hollowgraves/hmanor4.jpeg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col-8 p-4">
                                                        <span>Be prepared for shrills and thrills as you explore Keansburg’s scariest Family Attraction. Our walk-thru Haunted manor promises “scare-the-pants off you” fun. </span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="item-1 p-4">
                                                <div class="row">
                                                    <div class="col-4 p-0">
                                                        <div class="ov-imgfood">
                                                            <span class="tt-img">Game</span>
                                                            <img class="pict2" src="assets/img/arcades/arcade-6.jpeg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col-8 p-4">
                                                        <span>There are many new and exciting games at Keansburg Game , go there and experience it...</span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class=" p-4">
                                                <div class="row">
                                                    <div class="col-4 p-0">
                                                        <div class="ov-imgfood">
                                                            <span class="tt-img">Rides</span>
                                                            <img class="pict2" src="assets/img/ALL/udf03.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col-8 p-4">
                                                        <span>Are you a thrill-seeker?</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- 2 -->
                <section>
                    <div class="cnt1-0 mcnt-51">
                        <div class="main-rlt">
                            <div class="bg-abs3"></div>
                            <div class="m-cnt-5 text-center">
                                <div>
                                    <i class="bi bi-instagram"></i>
                                    <p>Explore</p>
                                    <h3><strong>Keansburgs</strong></h3>
                                    <a> View All </a>
                                </div>
                                <div>
                                    <div class="slide-5">
                                        <div class="child">
                                            <img src="https://picsum.photos/id/101/350/300" />
                                        </div>
                                        <div class="child">
                                            <img src="https://picsum.photos/id/102/350/300" />
                                        </div>
                                        <div class="child">
                                            <img src="https://picsum.photos/id/103/350/300" />
                                        </div>
                                        <div class="child">
                                            <img src="https://picsum.photos/id/104/350/300" />
                                        </div>
                                        <div class="child">
                                            <img src="https://picsum.photos/id/115/350/300" />
                                        </div>
                                        <div class="child">
                                            <img src="https://picsum.photos/id/106/350/300" />
                                        </div>
                                        <div class="child">
                                            <img src="https://picsum.photos/id/107/350/300" />
                                        </div>
                                        <div class="child">
                                            <img src="https://picsum.photos/id/108/350/300" />
                                        </div>
                                        <div class="child">
                                            <img src="https://picsum.photos/id/109/350/300" />
                                        </div>
                                        <div class="child">
                                            <img src="https://picsum.photos/id/120/350/300" />
                                        </div>
                                        <div class="child">
                                            <img src="https://picsum.photos/id/121/350/300" />
                                        </div>
                                        <div class="child">
                                            <img src="https://picsum.photos/id/122/350/300" />
                                        </div>
                                        <div class="child">
                                            <img src="https://picsum.photos/id/123/350/300" />
                                        </div>
                                        <div class="child">
                                            <img src="https://picsum.photos/id/124/350/300" />
                                        </div>
                                        <div class="child">
                                            <img src="https://picsum.photos/id/125/350/300" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

</div>