<section>
    <div style="height: 450px;background-image: url(./assets/img/arcades/paralax.jpg);background-position: center;background-size: cover;margin-bottom: 24px;">
        <div class="container h-100" style="">
            <div class="row h-100">
                <div class="col col-md-12 text-center text-md-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-center align-items-md-center justify-content-xl-center">
                    <div class="text-center" style="max-width: 350px;">
                        <h1 class="h1neon" style="color: var(--bs-white);font-size: 36px;"><span style="color: rgba(var(--bs-white-rgb),var(--bs-text-opacity)) ;">Arcades</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container" style="">
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h1 style="margin-bottom: 0px;">The Game Room and Bev &amp; Wally&#39;s have a great selection of<br /></h1>
            <h1 class="neonyellow" style="font-weight: bold;">Family Entertainment!<br /></h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="card">
      <img src="./assets/img/arcades/arcade-1.jpeg">
      <div class="card__head">Slot Machine</div>
    </div>
    <div class="card">
        <img src="./assets/img/arcades/arcade-2.jpeg">
        <div class="card__head">Poker Machines</div>
    </div>
    <div class="card">
        <img src="./assets/img/arcades/arcade-3.jpeg">
        <div class="card__head">Skee Ball</div>
    </div>
    <div class="card">
        <img src="./assets/img/arcades/arcade-4.jpeg">
        <div class="card__head">Crane Games</div>
    </div>
    <div class="card">
        <img src="./assets/img/arcades/arcade-5.jpeg">
        <div class="card__head">Basketball Machines</div>
    </div>
  </div>
  <p class="text-center mx-auto " style="margin-top: 16px;font-weight: bold; margin-bottom: 16px;">And so much more!</p>

<style>
    .h1neon {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #ff0000, 0 0 82px #ff0000, 0 0 92px #ff0000, 0 0 102px #ff0000, 0 0 151px #ff0000;
}


</style>