<section style="margin-bottom: 24px;">
    <div style="height: 450px;background-image: url(./assets/img/height1.jpeg);background-position: center;background-size: cover;">
        <div class="container h-100" style="font-family: Athiti, sans-serif;">
            <div class="row h-100">
                <div class="col col-md-12 text-center text-md-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-center align-items-md-center justify-content-xl-center">
                    <div class="text-center" style="max-width: 350px;">
                        <h1 class="neonpurple" style="color: var(--bs-white);font-size: 100px;"><span style="color: rgba(var(--bs-white-rgb),var(--bs-text-opacity)) ;">Quick ride height</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="decorative" style="background-image: url(https://cdn1.parksmedia.wdprapps.disney.com/resize/mwImage/1/435/21/75/dam/disney-world/50th-anniversary/ui/Decorative-rule.png?1663620362566);"></div>
<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Kiddie Rides</th>
                    <th>Tickets Needed</th>
                    <th>Minimum Height Required</th>
                    <th style="width: 25%;">Adults Allowed to Ride?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Miniature Train<br /></td>
                    <td>2</td>
                    <td>32&quot;</td>
                    <td>NO</td>
                </tr>
                <tr>
                    <td>Frog Hopper</td>
                    <td>2</td>
                    <td>36&quot;</td>
                    <td>NO</td>
                </tr>
                <tr>
                    <td>Balloon Ferris Wheel<br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: rgb(249, 249, 249);">2</span></td>
                    <td>54&quot; to ride alone Under 54&quot; w/ adult<br /></td>
                    <td>YES (2 tickets w/ child in yellow) <br /></td>
                </tr>
                <tr>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">Airplanes</span><br /></td>
                    <td>1</td>
                    <td>32&quot;</td>
                    <td>NO</td>
                </tr>
                <tr>
                    <td>Antique Cars</td>
                    <td>1</td>
                    <td>32&quot;</td>
                    <td>NO</td>
                </tr>
                <tr>
                    <td><span style="color: rgb(1, 1, 1);">Merry-Go-Round</span></td>
                    <td>1</td>
                    <td>32&quot;</td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">YES only w/ children 32&quot;-42&quot; (no charge)</span><br /></td>
                </tr>
                <tr>
                    <td>Motorcycles<br /></td>
                    <td>2</td>
                    <td>32&quot; (50&quot; max. height)<br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: rgb(249, 249, 249);">NO</span><br /></td>
                </tr>
                <tr>
                    <td><span style="color: rgb(1, 1, 1);">Boats</span></td>
                    <td>2</td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">32&quot;</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">NO</span><br /></td>
                </tr>
                <tr>
                    <td>Skyfighter<br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: rgb(249, 249, 249);">2</span></td>
                    <td>32&quot;</td>
                    <td>NO</td>
                </tr>
                <tr>
                    <td>Rotary Whip</td>
                    <td><span style="color: rgb(1, 1, 1);">2</span></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">32&quot;</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">NO</span><br /></td>
                </tr>
                <tr>
                    <td>Magic Ring<br /></td>
                    <td>2<br /></td>
                    <td>32&quot;<br /></td>
                    <td>NO<br /></td>
                </tr>
                <tr>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">Fire Engines</span><br /></td>
                    <td>1</td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">32&quot;</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">NO</span><br /></td>
                </tr>
                <tr>
                    <td>Red Baron<br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: rgb(249, 249, 249);">2</span><br /></td>
                    <td>36&quot;<br /></td>
                    <td>YES (2 tickets w/ child in the yellow)<br /></td>
                </tr>
                <tr>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">Sea Serpent Roller Coaster</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">3 </span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">36&quot; to ride alone 33&quot;-36&quot; w/ adult </span><br /></td>
                    <td>YES (3 tickets)<br /></td>
                </tr>
                <tr>
                    <td>Log Flume<br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: rgb(249, 249, 249);">3</span><br /></td>
                    <td>36&quot; to ride alone 33&quot;-36&quot; w/ adult<br /></td>
                    <td>YES (3 tickets)<br /></td>
                </tr>
                <tr>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">Rockin&#39; Tug</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">3</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">42&quot; to ride alone 36&quot;-42&quot; w/ adult</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">YES (3 tickets)</span><br /></td>
                </tr>
                <tr>
                    <td>Super Slide<br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: rgb(249, 249, 249);">2</span><br /></td>
                    <td>42&quot; to ride alone 36&quot;-42&quot; w/ adult<br /></td>
                    <td>YES (2 tickets)<br /></td>
                </tr>
                <tr>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">Mini Himalaya</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1);">2</span></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">38&quot; to ride alone 33&quot;-39&quot; w/ adult</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">Yes (2 tickets w/ child)</span><br /></td>
                </tr>
                <tr>
                    <td>Caterpillar<br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: rgb(249, 249, 249);">1</span><br /></td>
                    <td>32&quot;<br /></td>
                    <td>NO<br /></td>
                </tr>
                <tr>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">Tea Cups </span><br /></td>
                    <td><span style="color: rgb(1, 1, 1);">2</span></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">36&quot;</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">YES (2 tickets w/ child)</span><br /></td>
                </tr>
                <tr>
                    <td>Rock Wall<br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: rgb(249, 249, 249);">4</span></td>
                    <td>50 lb. min. 250 lb. max<br /></td>
                    <td>YES (4 tickets)<br /></td>
                </tr>
                <tr>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">Happy Swing</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">2</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">36&quot;</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">NO</span><br /></td>
                </tr>
                <tr>
                    <td>Jump Around<br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: rgb(249, 249, 249);">2</span><br /></td>
                    <td>36&quot;<br /></td>
                    <td>NO<br /></td>
                </tr>
                <tr>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">Oval Whip</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1);">2</span></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">36&quot;</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">NO</span><br /></td>
                </tr>
                <tr>
                    <td>Swings<br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: rgb(249, 249, 249);">2</span></td>
                    <td>36&quot;<br /></td>
                    <td>NO<br /></td>
                </tr>
                <tr>
                    <td><span style="color: rgb(1, 1, 1);">Dragons</span></td>
                    <td><span style="color: rgb(1, 1, 1);">2</span></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">36&quot; to ride alone 33&quot;-36&quot; w/ adult</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">YES (2 tickets w/ child in yellow)</span><br /></td>
                </tr>
                <tr>
                    <td>Rio Grande Train<br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: rgb(249, 249, 249);">2</span></td>
                    <td>36&quot;<br /></td>
                    <td>YES (2 tickets w/ child in yellow)<br /></td>
                </tr>
                <tr>
                    <td><span style="color: rgb(1, 1, 1);">Raiders</span></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">2</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">42&quot; to ride alone 36&quot;- 42&quot; w/ adult</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">YES (2 tickets w/ child in yellow)</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Major Rides </th>
                    <th>Tickets Needed</th>
                    <th>Minimum Height Required</th>
                    <th>Adults Allowed to Ride?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Carousel<br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: rgb(249, 249, 249);">3</span></td>
                    <td>42&quot; to ride alone 36&quot;-42&quot; w/ adult<br /></td>
                    <td>YES (3 tickets) (Free, if riding w/ 36&quot;-42&quot;)<br /></td>
                </tr>
                <tr>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">Looping Coaster</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">6</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">56&quot; to ride alone 49&quot;-56&quot; w/ adult</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">YES (6 tickets)</span><br /></td>
                </tr>
                <tr>
                    <td>Wave Swinger<br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: rgb(249, 249, 249);">5</span><br /></td>
                    <td>48&quot;<br /></td>
                    <td>YES (5 tickets)<br /></td>
                </tr>
                <tr>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">Pharoah&#39;s Fury</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1);">5</span></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">48&quot; to ride alone 42&quot;-48&quot; w/ adult</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">YES (5 tickets)</span><br /></td>
                </tr>
                <tr>
                    <td>Loop-O-Plane<br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: rgb(249, 249, 249);">3</span></td>
                    <td>44&quot;<br /></td>
                    <td>YES (3 tickets)<br /></td>
                </tr>
                <tr>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">Double Shot</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1);">6</span></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">52&quot;</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">YES (6 tickets)</span><br /></td>
                </tr>
                <tr>
                    <td>Tornado<br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: rgb(249, 249, 249);">4</span></td>
                    <td>48&quot; to ride alone 38&quot;-48&quot; w/ adult<br /></td>
                    <td>YES (4 tickets)<br /></td>
                </tr>
                <tr>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">Bumper Cars</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">5</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">50&quot; to ride alone 42&quot;-50&quot; w/ adult</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">YES (5 tickets)</span><br /></td>
                </tr>
                <tr>
                    <td>Moby Dick<br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: rgb(249, 249, 249);">5</span></td>
                    <td>48&quot; to ride alone 42&quot;-48&quot; w/ adult<br /></td>
                    <td>YES (5 tickets)<br /></td>
                </tr>
                <tr>
                    <td><span style="color: rgb(1, 1, 1);">Gravitron</span></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">4</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">48&quot;</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">YES (4 tickets)</span><br /></td>
                </tr>
                <tr>
                    <td>Tilt-A-Whirl<br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: rgb(249, 249, 249);">4 </span><br /></td>
                    <td>46&quot;<br /></td>
                    <td>YES (4 tickets)<br /></td>
                </tr>
                <tr>
                    <td><span style="color: rgb(1, 1, 1);">Cliffhanger</span></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">5</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">46&quot;</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">YES (5 tickets)</span><br /></td>
                </tr>
                <tr>
                    <td>Chaos<br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: rgb(249, 249, 249);">6</span><br /></td>
                    <td>48&quot;<br /></td>
                    <td>YES (6 tickets)<br /></td>
                </tr>
                <tr>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">Haunted Manor</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1);">6</span></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">Must be at least 7 years old</span><br /></td>
                    <td><span style="color: rgb(1, 1, 1); background-color: transparent;">YES (6 tickets)</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<style>
    .neonpurple {
        text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #e923f4, 0 0 82px #e923f4, 0 0 92px #e923f4, 0 0 102px #e923f4, 0 0 151px #e923f4;
    }
</style>
