<div class="pr-rapids">
    <div class="vid-h">
        <video loop autoplay name="media" id="my_video_1" height="auto" width="100%">
            <source src="https://cdn1.parksmedia.wdprapps.disney.com/vision-dam/digital/parks-platform/parks-global-assets/disney-world/campaign/the-magic-is-calling/walt-disney-world-the-magic-is-calling-DIQF7857000H-video-loop.mp4" type="video/mp4" >
        </video>
    </div>
    <div class="content-rapids">
        <div class="controls-vd" id="btn-fsc" [style.height]="widthvideo">
            <div class="btn-fsc d-flex flex-column ">
                <h1 class=" mb-4"><strong>Celebrate Across All 4 Theme Parks and Beyond</strong></h1>
                <div>
                    <button type="button" (click)="fullscreen()" class="f-screen me-3">Watch Full Video  <i class="bi bi-arrows-fullscreen"></i>  </button>
                    <button (click)="playPause()" class="f-screen"> <i [class]="icon_play_pause"> </i></button>
                </div>
            </div>
            <div class="btn-volumn">
                <input type="range" name="volume" id="" (change)="volume2($event.target)" class="volumn">
            </div>

        </div>

        <div class="cnt-rp">
            <div class="container">

                <section>
                    <h2 class="title-story">Experiences</h2>
                    <div class="row">
                        <div class="row justify-content-center carousel">
                            <div class="col-12 mb-3 ">
                                <div class="ov-imgfood2">
                                    <span class="tt-img">Thrill Rides</span>
                                    <img class="img-b" width="100%" style="height: 400px;object-fit: cover;" src="assets/img/homepage/experiences/1-1.jpg">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 img-food">
                                    <div class="ov-imgfood">
                                        <span class="tt-img">Sea Serpent Roller Coaster</span>
                                        <img src="assets/img/homepage/experiences/2-1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-4 img-food">
                                    <div class="ov-imgfood">
                                        <span class="tt-img">Food</span>
                                        <img src="assets/img/homepage/experiences/2-2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-4 img-food">
                                    <div class="ov-imgfood">
                                        <span class="tt-img">Thrill Rides</span>
                                        <img src="assets/img/homepage/experiences/2-3.jpg" alt="">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <h2 class="title-story">Shop, Plan and Play</h2>
                    <div class="row">
                        <div class="bod justify-content-center">
                            <input type="radio" name="position" />
                            <input type="radio" name="position" />
                            <input type="radio" name="position" checked/>
                            <input type="radio" name="position" />
                            <input type="radio" name="position" />
                            <div id="carousel">
                                <div class="item">
                                    <h2 class="text-light">Keansburg Park</h2>
                                </div>
                                <div class="item">
                                    <h2 class="text-light">Keansburg Park</h2>
                                </div>
                                <div class="item">
                                    <h2 class="text-light">Keansburg Park</h2>
                                </div>
                                <div class="item">
                                    <h2 class="text-light">Keansburg Park</h2>
                                </div>
                                <div class="item">
                                    <h2 class="text-light">Keansburg Park</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <h2 class="title-story">Events</h2>
                    <div class="container">
                        <div class="card-column column-0">
                            <div class="card card-color-0">
                                <div class="border"></div>

                                <img src="assets/img/homepage/experiences/carshow1-0.jpg" />
                                <h1>Car Show</h1>
                            </div>
                            <div class="card card-color-2">
                                <div class="border"></div>
                                <img src="assets/img/homepage/experiences/jstshow1-0.jpg" />
                                <h1>Jeep Jam & Truck Show</h1>
                            </div>
                        </div>
                        <div class="card-column column-1">
                            <div class="card card-color-1">
                                <div class="border"></div>
                                <img src="assets/img/homepage/experiences/doge1-0.jpg" />
                                <h1>Bark in the Park by Kara Donnelly</h1>
                            </div>
                            <div class="card card-color-3">
                                <div class="border"></div>
                                <img src="assets/img/homepage/experiences/eeh1-0.jpg" />
                                <h1>Easter Egg Hunt</h1>
                            </div>
                        </div>
                    </div>

                    <div id="cover" class="cover"></div>

                    <div id="open-content" class="open-content">
                        <a href="#" id="close-content" class="close-content"><span class="x-1"></span><span class="x-2"></span></a>
                        <img id="open-content-image" src="" />
                        <div class="text" id="open-content-text">
                        </div>
                    </div>
                </section>

                <section>
                    <h1 class="title-story">Our amazing people</h1>
                    <div class="container">
                        <div class="items">
                            <div class="entry">
                                <p class="name">John Doe</p>
                                <img src="assets/img/homepage/experiences/people1.jpg" alt="Smiling chick">
                                <p class="quote">"Man, I think this app freaking rocks and stuff. Dude."</p>
                            </div>
                            <div class="entry">
                                <p class="name">John Doe</p>
                                <img src="assets/img/homepage/experiences/people1.jpg" alt="Smiling chick">
                                <p class="quote">"Man, I think this app freaking rocks and stuff. Dude."</p>
                            </div>
                            <div class="entry">
                                <p class="name">John Doe</p>
                                <img src="assets/img/homepage/experiences/people1.jpg" alt="Smiling chick">
                                <p class="quote">"Man, I think this app freaking rocks and stuff. Dude."</p>
                            </div>
                            <div class="entry">
                                <p class="name">John Doe</p>
                                <img src="assets/img/homepage/experiences/people1.jpg" alt="Smiling chick">
                                <p class="quote">"Man, I think this app freaking rocks and stuff. Dude."</p>
                            </div>
                            <div class="entry">
                                <p class="name">John Doe</p>
                                <img src="assets/img/homepage/experiences/people1.jpg" alt="Smiling chick">
                                <p class="quote">"Man, I think this app freaking rocks and stuff. Dude."</p>
                            </div>
                            <div class="entry">
                                <p class="name">John Doe</p>
                                <img src="assets/img/homepage/experiences/people1.jpg" alt="Smiling chick">
                                <p class="quote">"Man, I think this app freaking rocks and stuff. Dude."</p>
                            </div>
                            <div class="entry">
                                <p class="name">John Doe</p>
                                <img src="assets/img/homepage/experiences/people1.jpg" alt="Smiling chick">
                                <p class="quote">"Man, I think this app freaking rocks and stuff. Dude."</p>
                            </div>
                            <div class="entry">
                                <p class="name">John Doe</p>
                                <img src="assets/img/homepage/experiences/people1.jpg" alt="Smiling chick">
                                <p class="quote">"Man, I think this app freaking rocks and stuff. Dude."</p>
                            </div>
                        </div>
                    </div>

                </section>



            </div>
            <br><br><br><br><br><br><br>

        </div>
    </div>
</div>

<style>
    section {
        /*margin-bottom: 10vh;*/
    }

    .title-story {
        margin-top: 15px;
        margin-bottom: 15px;
        color: rgb(211, 134, 18);
    }

    * {
        box-sizing: border-box;
    }

    .ov-imgfood,
    .ov-imgfood2 {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        max-width: initial;
        overflow: hidden;
        /*box-shadow: 5px 5px 8px #7a6f6f;*/
    }

    .ov-imgfood img {
        object-fit: cover;
        width: 100%;
        height: 250px;
        max-height: inherit;
    }

    .ov-imgfood img:hover,
    .ov-imgfood2 img:hover,
    img:hover {
        transform: scale(1.1);
        transition: all 1.6s ease-in-out;
    }

    .tt-img {
        position: absolute;
        color: white;
        top: 0;
        z-index: 2;
        font-size: 18px;
        font-weight: 600;
        text-shadow: 0 0 3px black;
        margin-top: 5px;
        margin-left: 5px;
    }
</style>
