.bg-svg {
    background-image: url('https://cdn1.parksmedia.wdprapps.disney.com/media/layout/assets/themes/wdw-50th/textures/nav-textures/nav_texture_1920.png'), url('../../../assets/svg/nav.svg');
    // url('https://cdn1.parksmedia.wdprapps.disney.com/media/layout/assets/themes/wdw-50th/textures/nav-textures/nav_texture_1920.png'),
    background-repeat: repeat-y;
    // background-size: cover;
    border-bottom: 2px solid #e2b77a;
    padding-bottom: 0 !important;
}

.nav-text ul li a {
    color: white;
    font-size: 14px;
    font-family: Avenir, Helvetica, Arial, sans-serif!important;
    height: auto;
}

.navigation {
    position: relative;
    width: 413px;
    height: 70px;
    background: var(--bs-gray-100);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    top: 52px;
}

.navigation ul {
    display: flex;
    width: 413px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 60px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--bs-yellow);
}

.navigation ul li.active a .icon {
    transform: translateY(-35px);
}

.navigation ul li a .text {
    position: absolute;
    color: var(--bs-yellow);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: var(--bs-blue);
    border-radius: 50%;
    border: 6px solid white;
    transition: 0.5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: var(--bs-gray-100);
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 #ffffff;
}

.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: var(--bs-gray-100);
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 #ffffff;
}

.navigation ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(90px * 0));
}

.navigation ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(90px * 1));
}

.navigation ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(90px * 2));
}

.navigation ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(90px * 3));
}

.navigation ul li:nth-child(5).active~.indicator {
    transform: translateX(calc(90px * 4));
}

.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    margin: 0 5px;
    a {
        text-decoration: none;
        color: #fff;
    }
}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

// ----------------------------------
.ctnShop {
    justify-content: space-around;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    .shopitem {
        min-width: 108px;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 10px;
        height: 122px;
        border: 1px solid white;
    }
    i {
        font-size: 50px;
    }
}

.cart-item {
    color: white;
}

.btn-submit {
    text-decoration: none;
    border: none;
    background: #61941B;
    font-weight: 600;
    font-size: 18px;
    border-radius: 25px;
    padding: 5px 25px;
    color: white !important;
    box-shadow: inset 5px 5px 6px #ffffff91, 1px 2px 4px 0px #a8a8a8;
    margin-left: 35px;
}

.nav-hd {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    box-sizing: border-box;
    box-shadow: inset 1px 1px 2px rgb(0 0 0 / 30%);
    color: #3a5c87;
    display: flex;
    height: 30px;
    padding: 4px;
}

.searchbar {
    background: none;
    border: none;
    border-inline: none;
    outline: none;
    width: -webkit-fill-available;
}

::placeholder {
    color: white;
    opacity: 0.8;
    text-align: center;
}

.login-p-header {
    text-decoration: none;
    text-shadow: 0 0 3px black;
}

.login-p-header:hover {
    text-decoration: underline;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .container-md,
    .container-sm,
    .container {
        max-width: 760px;
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .container-md,
    .container-sm,
    .container {
        max-width: 936px;
    }
    .row {
        justify-content: center;
    }
    .logo-123 {
        display: block !important;
    }
}

@media (max-width: 996px) {
    .container-md,
    .container-sm,
    .container {
        max-width: 990px;
    }
    .row {
        justify-content: center;
    }
}

// Large devices (desktops, 992px and up)
@media only screen and (max-width: 936px) {
    // .logo-123 {
    //     display: block !important;
    // }
    // #navcol-3 {
    //     display: none;
    // }
    // .navbar-toggler {
    //     display: block !important;
    // }
}

.logo-123 {
    display: none;
}

.navbar-toggler {
    border: none;
    &:focus {
        // outline: none;
        box-shadow: none;
    }
}

ul,
ul li {
    list-style: none;
}

.list-nav {
    position: relative;
    /*height: 100%;
  display: flex;
  align-items: center;*/
}

.child-items1 {
    position: absolute;
    display: none;
    z-index: 1000;
}

.list-nav:hover .child-items1 {
    display: block;
}

.nav-items1 {
    font-size: calc(10px + 0.5vw) !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 7px 3px;
}

.child-items-left {
    background: #012169;
    padding: 17px;
}

.child-items-right {
    background-color: #FFFBF5;
    padding: 17px;
}

.nav-items1:hover {
    background: #012169;
    text-decoration: underline;
}

.nav-items1,
.child-items-left a,
.child-items-right a {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 3px black;
}

.child-items-left h6 {
    color: white;
    font-weight: 600;
}

.child-items-left a:hover,
.child-items-right a:hover {
    text-decoration: underline;
}

.child-items-right a {
    color: #021031b4;
}

.img-my {
    filter: brightness(0) invert(1);
    width: 22px;
}

@media(max-width:768px) {
    .nav-items1 {
        font-size: calc(6px + 1.3vw) !important;
    }
    .logo-nv2 {
        display: none !important;
    }
}

@media(max-width:404px) {
    .wlc {
        display: none;
    }
}