<nav class="navbar navbar-light navbar-expand-md py-3 bg-svg">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex  justify-content-end align-items-center mb-1">
                <div class="col-3 text-center ">
                    <a routerLink="/login" class="text-light login-p-header">Sign In or Create Account</a>
                </div>
                <div class="nav-hd col-3">
                    <i class="bi bi-search text-light fs-6 me-1 ms-1"></i>
                    <input type="text" class="searchbar" placeholder="seach keansburgworld">
                </div>

            </div>
            <div class="col d-flex justify-content-center ">
                <img src="https://cdn.discordapp.com/attachments/1017641794202247241/1023594446278897794/uppercase_logoAsset_1.png" width="163" height="67"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3"><span class="visually-hidden">Toggle navigationa</span><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none">
                <path d="M4 6H20M4 12H20M4 18H11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></button>
                <div class="collapse navbar-collapse nav-text align-items-end" id="navcol-3">
                    <ul class="list-nav ">
                        <a routerLink="/" class="nav-items1"> Ticket</a>
                        <div class="child-items1 p-3 d-flex">
                            <div class="child-items-left">
                                <h3>Title 1</h3>
                                <a routerLink="/">Ticket Information</a>
                                <h3>Title 1</h3>
                                <a routerLink="/">Ride Height & Ticketing</a>
                                <h3>Title 1</h3>
                                <a routerLink="/">Discount & Specials</a>
                                <h3>Title 1</h3>
                                <a routerLink="/">Buy Ticket</a>
                            </div>
                            <div class="child-items-right">
                                <h3>Title 1</h3>
                                <a routerLink="/">Ticket Information</a>
                                <h3>Title 1</h3>
                                <a routerLink="/">Ride Height & Ticketing</a>
                                <h3>Title 1</h3>
                                <a routerLink="/">Discount & Specials</a>
                                <h3>Title 1</h3>
                                <a routerLink="/">Buy Ticket</a>
                            </div>
                        </div>
                    </ul>
                </div>
                <div class="d-flex align-items-center">
                    <div class="row">
                        <div class="col">
                            <div ngbDropdown class="d-inline-block">
                                <button type="button" class="button-29 text-light" id="dropdownBasic1" ngbDropdownToggle>Login</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <h3>Sign in</h3>
                                    <hr>
                                    <a ngbDropdownItem type="button" class="button-29 text-light" routerLink="/login">Login</a>
                                    <button ngbDropdownItem>Action - 1</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div ngbDropdown class="d-inline-block">
                                <button type="button" class="button-29 text-dark" id="dropdownBasic1" ngbDropdownToggle>user</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <a ngbDropdownItem type="button" class="button-30 text-dark" routerLink="/">thong tin chi tet</a>
                                    <a ngbDropdownItem type="button" class="button-30 text-dark" routerLink="/">Dang xuat</a>
                                    <a ngbDropdownItem type="button" class="button-30 text-dark" routerLink="/">gio hang cua toi</a>
                                    <button ngbDropdownItem>Action - 1</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<style>
    ul,
    ul li {
        list-style: none;
    }
    
    .list-nav {
        position: relative;
    }
    
    .child-items1 {
        position: absolute;
        display: none;
        z-index: 1000;
    }
    
    .list-nav:hover .child-items {
        display: block;
    }
    /*
    .nav-items {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .nav-items,
    .child-items-left a {
        background: #012169;
        color: white;
        text-decoration: none;
        font-size: 1.25rem;
        padding: 0.5rem !important;
    }

    .child-items-right {
        background-color: #FFFBF5;
    }*/
</style>
<style>
    .nav-hd {
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #fff;
        box-sizing: border-box;
        box-shadow: inset 1px 1px 2px rgb(0 0 0 / 30%);
        color: #3a5c87;
        display: flex;
        height: 30px;
        padding: 4px;
    }
    
    .searchbar {
        background: none;
        border: none;
        border-inline: none;
        outline: none;
    }
    
     ::placeholder {
        color: white;
        opacity: 0.8;
    }
    
    .login-p-header {
        text-decoration: none;
    }
    
    .login-p-header:hover {
        text-decoration: underline;
    }
</style>