<nav class="navbar navbar-light navbar-expand-md py-3 bg-svg">
    <div class="container">
        <div class="row w-100">
            <div class="col-12 row justify-content-between align-items-center mb-1 ">
                <div *ngIf="!usercheck" class="d-block col-md-3 col-xl-3 "></div>
                <div *ngIf="usercheck" class=" col-md-3 col-xl-3 ">
                    <a routerLink="/profile" class="text-light login-p-header" title="Your Profile"><i class="bi bi-person-circle"></i>  Welcome, User name</a>
                </div>

                <div class=" col-md-8  col-xl-7 row justify-content-end ">
                    <div *ngIf="!usercheck" class=" col-md-4 col-xl-4 d-flex align-items-center" style="width: fit-content;">
                        <a routerLink="/login" class="text-light login-p-header "><i class="bi bi-person-circle" ></i>  Sign In or Create Account</a>
                    </div>

                    <div *ngIf="usercheck" class="col-md-4 col-xl-4 d-flex align-items-center" style="width:fit-content ;">
                        <a class="text-light login-p-header" (click)="signout()" type="button" href="/"> Sign Out</a>
                    </div>
                    <div class="nav-hd col-xl-4 col-4">
                        <i class="bi bi-search text-light fs-6 me-1 ms-1"></i>
                        <!-- <input type="text" class="searchbar" placeholder="seach keansburgworld"> -->
                        <!-- <input id="typeahead-format" type="text" class="form-control searchbar" [(ngModel)]="model" [ngbTypeahead]="search" [resultFormatter]="formatter" /> -->
                        <input id="typeahead-basic" type="text" class="searchbar text-light" [(ngModel)]="model" [ngbTypeahead]="search" (keydown)="searchbar($event)" />
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center row">

                <div class="collapse navbar-collapse nav-text justify-content-between col" id="navcol-3">
                    <div class="me-2 col-2 mb-2 text-center">
                        <img src="assets/svg/logo.svg" width="163" height="50" style="filter: drop-shadow(0 1px 2px #35181f);">
                        <!-- https://cdn.discordapp.com/attachments/1017641794202247241/1023594446278897794/uppercase_logoAsset_1.png -->
                    </div>
                    <div class="list-nav">
                        <a routerLink="" class="nav-items1"> <i class="fa-solid fa-house-chimney fs-4"></i> </a>
                    </div>
                    <div class="list-nav" *ngFor="let i of navbar.items">
                        <div>
                            <a routerLink="{{i.routelink.main}}" class="nav-items1"> <i class="{{i.icon}}"></i>{{i.navname}}</a>
                        </div>
                        <div class="child-items1">
                            <div class="d-flex" style="width: max-content;">
                                <div class="child-items-left">
                                    <div class="mb-3" *ngFor="let navitems of i.navitems">
                                        <h6>{{navitems.title}}</h6>
                                        <div *ngFor="let childitem of navitems.child_items;let j=index">
                                            <a routerLink="{{childitem.routelink}}"><i class="{{childitem.icon}}"></i> {{childitem.name}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="child-items-right">
                                    <h6>Title 1</h6>
                                    <a routerLink="/">Ticket Information</a>
                                    <h6>Title 1</h6>
                                    <a routerLink="/">Ride Height & Ticketing</a>
                                    <h6>Title 1</h6>
                                    <a routerLink="/">Discount & Specials</a>
                                    <h6>Title 1</h6>
                                    <a routerLink="/">Buy Ticket</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-nav">
                        <a routerLink="/cart" class="nav-items1"> <i class="bi bi-cart2 fs-5"></i> Cart</a>
                        <div class="child-items1">
                            <div class="d-flex" style="width: max-content;">
                                <!--  -->
                                <div *ngIf="!cartcheck" class="child-items-left cart-item">
                                    <span><strong>Your Cart</strong></span>
                                    <div class=" pt-3 pb-3 " style="border-top:1px solid white ;">
                                        <p class="text-center">Your cart is empty</p>
                                        <div class="row ctnShop">
                                            <div class="col-5 shopitem me-3">
                                                <div><i class="bi bi-stars"></i></div><strong>Resorts</strong></div>
                                            <div class="col-5 shopitem">
                                                <div><i class="bi bi-stars"></i></div><strong>Resorts</strong></div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span>Total</span>
                                        <span> <span class="fs-5 fw-bold">$0.00</span>USD</span>
                                    </div>
                                </div>
                                <!--  -->
                                <div *ngIf="cartcheck" class="child-items-left cart-item">
                                    <span><strong>Your Cart</strong></span>
                                    <div class=" pt-3 pb-3 " style="border-top:1px solid white; border-bottom:1px solid white;">
                                        <div class="d-flex justify-content-between mb-2">
                                            <span>{{cartdata[0].name}}</span><span>Quantity: {{cartdata[0].amount}}</span>
                                        </div>
                                        <div *ngIf="cartdata[1]" class="d-flex justify-content-between mb-2">
                                            <span>{{cartdata[1].name}}</span><span>Quantity: {{cartdata[1].amount}}</span>
                                        </div>
                                        <a *ngIf="cartdata[2]" routerLink="/cart"><i class="bi bi-chevron-double-down me-1"></i> Veiw Details</a>
                                    </div>
                                    <div class=" pt-3 pb-3 ">
                                        <div class="d-flex justify-content-between">
                                            <p>Order Subtotal</p>
                                            <h5 class=" fw-bold">{{Subtotalall+Subtotalall*15/100|currency}}</h5>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <a routerLink="/cart">View  Cart Details</a>
                                            <a routerLink="/cart" type="button" class="btn-submit">Check Out</a>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="list-nav">
                        <a routerLink="/" class="nav-items1"> <i class="bi bi-person-lines-fill fs-5"></i> My Experience</a>
                        <div class="child-items1">
                            <div class="d-flex" style="width: max-content;">
                                <div class="child-items-left">
                                    <div *ngIf="usercheck">
                                        <a routerLink="/profile" class="d-flex align-items-center" title="Your Profile">
                                            <span class=" d-block me-3"><i class="bi bi-person-circle fs-1"></i></span> Profile
                                        </a>
                                    </div>
                                    <p>
                                        <a routerLink="/"><img src="https://cdn1.parksmedia.wdprapps.disney.com/media/layout/assets/icons/pep/reservations.svg" class="img-my" alt=""><span class="h6 fw-bold"> My Plan </span></a>
                                    </p>
                                    <p>
                                        <a routerLink="/"><img src="https://cdn1.parksmedia.wdprapps.disney.com/media/layout/assets/icons/pep/magicbands-v2.svg" class="img-my" alt=""><span class="h6 fw-bold"> My MagicBands and Cards </span></a>
                                    </p>
                                    <p>
                                        <a routerLink="/"><img src="https://cdn1.parksmedia.wdprapps.disney.com/media/layout/assets/icons/pep/my-media.svg" class="img-my" alt=""><span class="h6 fw-bold"> My Photos </span></a>
                                    </p>
                                    <hr class="mt-2 mb-2 text-light">
                                    <div *ngIf="usercheck">
                                        <a type="button" (click)="signout()" href="/">Sign Out</a>
                                    </div>
                                    <div *ngIf="!usercheck">
                                        <a type="button" routerLink="/login">Sign in</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<style>
    ul,
    ul li {
        list-style: none;
    }

    .list-nav {
        position: relative;
        /*height: 100%;
        display: flex;
        align-items: center;*/
    }

    .child-items1 {
        position: absolute;
        display: none;
        z-index: 1000;
    }

    .list-nav:hover .child-items1 {
        display: block;
    }

    .nav-items1 {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 7px 13px;
    }

    .child-items-left {
        background: #012169;
        padding: 17px;
    }

    .child-items-right {
        background-color: #FFFBF5;
        padding: 17px;
    }

    .nav-items1:hover {
        background: #012169;
        text-decoration: underline;
    }

    .nav-items1,
    .child-items-left a,
    .child-items-right a {
        color: white;
        text-decoration: none;
        font-size: 15px;
        text-shadow: 0 0 3px black;
    }

    .child-items-left h6 {
        color: white;
        font-weight: 600;
    }

    .child-items-left a:hover,
    .child-items-right a:hover {
        text-decoration: underline;
    }

    .child-items-right a {
        color: #021031b4;
    }

    .img-my {
        filter: brightness(0) invert(1);
        width: 22px;
    }
</style>
<style>
    .nav-hd {
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #fff;
        box-sizing: border-box;
        box-shadow: inset 1px 1px 2px rgb(0 0 0 / 30%);
        color: #3a5c87;
        display: flex;
        height: 30px;
        padding: 4px;
    }

    .searchbar {
        background: none;
        border: none;
        border-inline: none;
        outline: none;
    }

     ::placeholder {
        color: white;
        opacity: 0.8;
        text-align: center;
    }

    .login-p-header {
        text-decoration: none;
        text-shadow: 0 0 3px black;
    }

    .login-p-header:hover {
        text-decoration: underline;
    }
</style>
