<section style="margin-bottom: 24px;">
    <div style="height: 600px;background-image: url(./assets/img/beach/beach8.webp);background-position: center;background-size: cover;">
        <div class="container h-100" style="font-family: Athiti, sans-serif;">
            <div class="row h-100">
                <div class="col col-md-12 text-center text-md-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-center align-items-md-center justify-content-xl-center">
                    <div class="text-center" style="max-width: 350px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row mb-5">
    <div class="col-md-8 col-xl-6 text-center mx-auto">
        <h1 style="color: #996B09;">Fishing Pier</h1>
        <p class="w-lg-50" style="color: #253b56;">Enjoy the Day Fishing on Our 2000 foot Pier Overlooking the Raritan Bay<br />For Hours of Operation Please Call 732-495-8842<br /></p>
    </div>
</div>

<div class="container">
    <div class="box">
      <img src="./assets/img/fishing/fishing1.jpeg">
      <span>@keansburg</span>
    </div>
    <div class="box">
      <img src="./assets/img/fishing/fishing2.jpeg">
      <span>@ny.lukas_viktor</span>
    </div>
    <div class="box">
      <img src="./assets/img/fishing/fishing3.jpeg">
      <span>@lilbiluvpt</span>
    </div>
    <div class="box">
      <img src="./assets/img/fishing/fishing4.jpeg">
      <span>@adammm</span>
    </div>
  </div>

  <div class="container">
    <div class="col">
        <div class="px-3">
            <h1 class="text-center" style="color: #996B09;">Pricing</h1>
            <p style="color: #253b56;">$10.00 Per Person 2 pole Limit<br /><br />$5.00 Per Child under 48″<br /><br />Tuesdays Seniors fish for $7.00</p>
            <p style="color: #253b56;font-size: 12px;">Group Rates Available for Organizations 732-495-8842</p>
            <p style="color: #253b56;font-size: 12px;">For Hours of Operation Please Call 732-495-8842<br /></p>
            <p style="color: #996B09;font-size: 17px;">Bait &amp; Tackle Available on Site<br />Pole &amp; Scoop Net Rentals Also Available</p>
        </div>
    </div>

    <div class="box">
      <img src="./assets/img/fishing/fishing5.jpeg">
      <span>@kap.comunity.photo</span>
    </div>
    <div class="box">
        <img src="./assets/img/fishing/fishing6.jpeg">
        <span>from KAP's employee</span>
      </div>
      
  </div>