<section style="margin-bottom: 24px;">
    <div style="height: 300px;background-image: url(./assets/img/go-karts/gokarts1.jpg);background-position: center;background-size: cover;">
        <div class="container h-100" style="font-family: Athiti, sans-serif;">
            <div class="row h-100">
                <div class="col col-md-12 text-center text-md-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-center align-items-md-center justify-content-xl-center">
                    <div class="text-center" style="max-width: 350px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="" style="margin-left: 48px;">
    <h1><span style="color: #996B09">Go Karts</span></h1>
    <p class="w-lg-50" style="color: #253b56;">Race with your fellow / family members. </p>
    <p class="w-lg-50" style="color: #253b56;">GO FAST AND ENJOY THE FUN.</p>
</div>

<div class="grid image-grid">

    <div aaaa class="grid-block">
      <div class="tile">
        <a class="tile-link" href="#">
          <img class="tile-img tile-img1" src="./assets/img/go-karts/gokarts3.jpeg" alt="Image">
        </a>
      </div>
    </div>
  
    <div class="grid-block">
      <div class="tile">
        <a class="tile-link" href="#">
          <img class="tile-img tile-img2" src="./assets/img/go-karts/gokarts2.jpeg" alt="Image">
        </a>
      </div>
    </div>
  
    <div class="grid-block">
      <div class="tile">
        <a class="tile-link" href="#">
          <img class="tile-img tile-img3" src="./assets/img/go-karts/gokarts8.webp" alt="Image">
        </a>
      </div>
    </div>
  
    <div class="grid-block">
      <div class="tile">
        <a class="tile-link" href="#">
          <img class="tile-img tile-img4" src="./assets/img/go-karts/gokarts5.webp" alt="Image">
        </a>
      </div>
    </div>
  
    <div class="grid-block">
      <div class="tile">
        <a class="tile-link" href="#">
          <img class="tile-img tile-img5" src="./assets/img/go-karts/gokarts4.jpeg" alt="Image">
        </a>
      </div>
    </div>
  
    <div class="grid-block">
      <div class="tile">
        <a class="tile-link" href="#">
          <img class="tile-img tile-img6" src="./assets/img/go-karts/gokarts6.jpeg" alt="Image">
        </a>
      </div>
    </div>
  
    <div class="grid-block">
      <div class="tile">
        <a class="tile-link" href="#">
          <img class="tile-img tile-img7" src="./assets/img/go-karts/gokarts7.webp" alt="Image">
        </a>
      </div>
    </div>
  
    <div class="grid-block">
      <div class="tile">
        <a class="tile-link" href="#">
          <img class="tile-img tile-img8" src="./assets/img/go-karts/gokarts1.jpg" alt="Image">
        </a>
      </div>
    </div>
  
    <div class="grid-block">
      <div class="tile">
        <a class="tile-link" href="#">
          <img class="tile-img tile-img9" src="./assets/img/go-karts/gokarts9-resize.jpg" alt="Image">
        </a>
      </div>
    </div>
  
    <div class="grid-block">
      <div class="tile">
        <a class="tile-link" href="#">
          <img class="tile-img tile-img10" src="./assets/img/go-karts/gokarts10.jpeg" alt="Image">
        </a>
      </div>
    </div>
  
  </div>

  <div class="container mb-5" style="color: #996B09;">
    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-2">
        <div class="col">
            <div class="d-flex">
                <div class="mx-auto px-3">
                    <h1><span style="color: rgba(var(--bs-white-rgb),var(--bs-text-opacity)) ;">Height Requirements</span></h1>
                </div>
            </div>
            <div class="row gy-4 row-cols-2 row-cols-md-2 row-cols-xl-2">
                <div class="col">
                    <p style="color: #253b56;">The Short Track</p>
                </div>
                <div class="col">
                    <p class="text-end" style="color: #253b56;">42&quot; - 54&quot;</p>
                </div>
            </div>
            <div class="row gy-4 row-cols-2 row-cols-md-2 row-cols-xl-2">
                <div class="col">
                    <p style="color: #253b56;">The Grand Prix</p>
                </div>
                <div class="col">
                    <p class="text-end" style="color: #253b56;">54&quot; and Above</p>
                </div>
            </div><img src="./assets/img/go-karts/gokarts9-resize.jpg" style="width: 100%;" />
        </div>
        <div class="col">
            <div class="d-flex">
                <div class="mx-auto px-3">
                    <h1><span style="color: rgba(var(--bs-white-rgb),var(--bs-text-opacity)) ;">Rides</span></h1>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col text-center">
                        <div>
                            <div class="row">
                                <div class="col-8 col">
                                    <p class="text-start" style="color: #253b56;"><span style="color: rgb(1, 1, 1);">The Grand Prix Track</span><br /></p>
                                </div>
                                <div class="col-4 col">
                                    <p style="text-align: right;color: #253b56;"><span style="color: rgb(1, 1, 1);">$7.95</span><br /></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 col">
                                    <p class="text-start" style="color: #253b56;"><span style="color: rgb(1, 1, 1);">Double Seater</span><br /></p>
                                </div>
                                <div class="col-4 col">
                                    <p style="text-align: right;color: #253b56;"><span style="color: rgb(1, 1, 1);">$9.95</span><br /></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 col">
                                    <p class="text-start" style="color: #253b56;"><span style="color: rgb(1, 1, 1);">The Short Track</span><br /></p>
                                </div>
                                <div class="col-4 col">
                                    <p style="text-align: right;color: #253b56;"><span style="color: rgb(1, 1, 1);">$4.95</span><br /></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 col">
                                    <p class="text-start" style="color: #253b56;"><span style="color: rgb(1, 1, 1);">Book of 4 Adult Rides</span><br /></p>
                                </div>
                                <div class="col-4 col">
                                    <p style="text-align: right;color: #253b56;"><span style="color: rgb(1, 1, 1);">$29.95</span><br /></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 col">
                                    <p class="text-start" style="color: #253b56;"><span style="color: rgb(1, 1, 1);">Book of 8 Adult Rides</span><br /></p>
                                </div>
                                <div class="col-4 col">
                                    <p style="text-align: right;color: #253b56;"><span style="color: rgb(1, 1, 1);">$49.95</span><br /></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p style="color: #253b56;font-size: 12px;">Go Kart tickets must be purchased separately at the Go Kart Ticket Booth. Go Karts are not included in any wristband special. Closed toe shoes must be worn when operating a go kart.<br /></p>
        </div>
    </div>
</div>