<section style="margin-bottom: 24px;">
    <div style="height: 300px;background-image: url(./assets/img/go-karts/gokarts1.jpg);background-position: center;background-size: cover;">
        <div class="container h-100" style="font-family: Athiti, sans-serif;">
            <div class="row h-100">
                <div class="col col-md-12 text-center text-md-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-center align-items-md-center justify-content-xl-center">
                    <div class="text-center" style="max-width: 350px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="mx-auto text-center">
    <h1><span style="color: #996B09">Keansburg Games</span></h1>
    <p class="w-lg-50" style="color: #253b56;">Old fashion game</p>
    <p class="w-lg-50" style="color: #253b56;">Always get you on vacation!</p>
</div>

<div class="wrap" style="margin-top: -90px;">

	<h1>classic game <span>.</span></h1>
  <div class="list">
    <div class="item">
      <div class="img" style="background-image: url(./assets/img/kapgame/kapgame1.jpeg)"></div>
    </div>
			
    <div class="item">
      <div class="img" style="background-image: url(./assets/img/kapgame/kapgame2.jpeg)"></div>
    </div>
		
    <div class="item">
      <div class="img" style="background-image: url(./assets/img/kapgame/kapgame3.jpeg)"></div>
    </div>
			
    <div class="item">
      <div class="img" style="background-image: url(./assets/img/kapgame/kapgame4.jpeg)"></div>
    </div>
			
    <div class="item">
      <div class="img" style="background-image: url(./assets/img/kapgame/kapgame5.jpeg)"></div>
    </div>
			
    <div class="item">
      <div class="img" style="background-image: url(./assets/img/kapgame/kapgame6.jpeg)"></div>
    </div>
			
    <div class="item">
      <div class="img" style="background-image: url(./assets/img/kapgame/kapgame7.jpeg)"></div>
    </div>
			
    <div class="item">
      <div class="img" style="background-image: url(./assets/img/kapgame/kapgame8.jpeg)"></div>
		</div>
			
    <div class="item">
      <div class="img" style="background-image: url(./assets/img/kapgame/kapgame9.jpeg)"></div>
    </div>
			
    <div class="item">
      <div class="img" style="background-image: url(./assets/img/kapgame/kapgame10.jpeg)"></div>
    </div>
			
    <div class="item">
      <div class="img" style="background-image: url(./assets/img/kapgame/kapgame11.jpeg)"></div>
    </div>
			
    <div class="item">
      <div class="img" style="background-image: url(./assets/img/kapgame/kapgame12.jpeg)"></div>
    </div>
			
  </div>
</div>
